﻿@{
    ViewData["Title"] = "Ödeme Sayfası";
}

<form asp-controller="Payment" asp-action="GetPay">
    <input type="text" name="return_url" value="@Context.Request.Path" hidden />
    <button class="btn btn-warning" type="submit">Ödemeye Devam Et </button>
</form>
<div id="iyzipay-checkout-form" class="responsive"></div>

@Html.Raw(TempData["Checkout_Form"])
<script type="text/javascript">
    $(document).ready(function () {
        alert(@TempData["status"]);
    });
</script>