@{
    ViewBag.Title = "Ödeme";
    Layout = null; // Set the layout to null since we're using a partial view
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    @Html.Partial("_PaymentForm")
</div>

@section Scripts {
    <script src="https://cdn.iyzipay.com.tr/js/iyzipay.js"></script>
    <script>
        $(document).ready(function () {
            // No need to use iyzipay.checkoutForm() anymore
        });
    </script>
}