@model Iyzipay.Model.Payment

@{
    ViewBag.Title = "Order Details";
}

<h1>Order Details</h1>

<!-- Ödeme bilgilerini görüntüleme -->
<h2>Retrieve Payment</h2>
<p>Payment Id: @Model.PaymentId</p>
<p>Price: @Model.Price</p>
<p>Payment Status: @Model.Status</p>
<!-- Diğer ödeme bilgilerini buraya ekleyebilirsiniz -->
<!-- İptal bilgilerini görüntüleme -->
<h2>Create Refund</h2>
<p>Refund Status: @Model.Status</p>

<!-- Diğer iptal bilgilerini buraya ekleyebilirsiniz -->
